.row-fluid
  .span1
  .span10.hero-unit
    %h2 Caesar Says: Roman Numeral Calculator
    %p Enter a problem below, such as I + I
    
    = form_tag("#", remote: true, class: 'form-inline', id: "calculator-form") do
      = text_field_tag(:problem, 'I + I') 
      = submit_tag('Solve!', class: 'btn btn-info')

    %b Solution Language
    %label.radio
      = radio_button_tag(:in_arabic, false, checked: true)
      Roman
    %label.radio 
      = radio_button_tag(:in_arabic, true)
      Arabic

.row-fluid
  .span1
  .span3
    #bubble
      %h3#solution 
        I am Caesar!  I am skilled in mathematics, both Roman and Arabic.
  .span6
    = image_tag 'roman.png', class: 'roman'
